## <font color="red"> SQL-<font color='green'>-Python</font> </font>

In [1]:

# # Key Things to Know
# 
# * Connections must be established using an existing database, username, database IP/URL, and maybe passwords
# * If you have no existing databases, you can connect to Postgres using the dbname 'postgres' to initialize one
# * Data changes are not actually stored until you choose to commit. This can be done either through commit() or setting autocommit = True.  Until commited, transactions are only stored temporarily
#     - Autocommit = True is necessary to do database commands like CREATE DATABASE.  This is because Postgres does not have temporary transactions at the database level.
#     - Use .rollback() on the connection if your .execute() command results in an error. (Only works if change has not yet been committed) 
# * SQL connection databases utilize cursors for data traversal and retrieval.  This is kind of like an iterator in Python.
# * Cursor operations typically go like the following:
#     - execute a query
#     - fetch rows from query result if it is a SELECT query
#     - because it is iterative, previously fetched rows can only be fetched again by rerunning the query
#     - close cursor through .close()
# * Cursors and Connections must be closed using .close() or else Postgres will lock certain operations on the database/tables until the connection is severed. 
# 

# ## And don't leave yourself vulnerabl

In [2]:
import psycopg2
import pandas as pd


try:
    secret='TESTPASSWORD'
    connection = psycopg2.connect(database = "dvdrentalNEW", user = "postgres", password = secret)
    
    ##############Using Pandas to read sql quesrries######################
    df = pd.read_sql_query("select * from film limit 10;", connection)
    print("data frame")
#     print(df)
    print("-----")
    #######################################################################
    
    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    print(type(cursor.execute("SELECT version();")))
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")
    cursor.execute('select * from film;')
    result_digital_brief=cursor.fetchall()
#     print(result_digital_brief)
#     print(result_digital_brief)
    print(type(cursor.fetchall()))
    df_digital_brief = pd.DataFrame(result_digital_brief)
    print(df_digital_brief)
    
#     print(df_digital_brief)
#     print(type(df_digital_brief))
#     print(df_digital_brief)
#     df_digital_brief.columns=result_digital_brief.keys()
#     print(df_digital_brief.columns())
    

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
finally:
    #closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")

data frame
-----
{'user': 'postgres', 'dbname': 'dvdrentalNEW', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

<class 'NoneType'>
You are connected to -  ('PostgreSQL 9.5.19 on x86_64-apple-darwin, compiled by i686-apple-darwin11-llvm-gcc-4.2 (GCC) 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00), 64-bit',)

<class 'list'>
        0                  1  \
0     133    Chamber Italian
1     384   Grosse Wonderful
2       8    Airport Pollock
3      98  Bright Encounters
4       1   Academy Dinosaur
..    ...                ...
995   996     Young Language
996   997         Youth Kick
997   998       Zhivago Core
998   999  Zoolander Fiction
999  1000          Zorro Ark

                                                     2     3  4  5     6    7  \
0    A Fateful Reflection of a Moose And a Husband ...  2006  1  7  4.99  117
1    A Epic Drama of a Cat And a Explorer who must ...  2006  1  5  4.99   49
2    A Epic Tale of a Moose And a Girl who must Con...  2006  1  6  4.99   54
3    A Fateful Yarn of a Lumberjack And a Feminist ...  2006  1  4  4.99   73
4    A Epic Drama of a Feminist And a Mad Scientist...  2006  1  6  0.99   86
..                                                 ...   ... .. ..   ...  ...
995  A Unbelieveable Yarn of a Boat And a Database ...  2006  1  6  0.99  183
996  A Touching Drama of a Teacher And a Cat who mu...  2006  1  4  0.99  179
997  A Fateful Yarn of a Composer And a Man who mus...  2006  1  6  0.99  105
998  A Fateful Reflection of a Waitress And a Boat ...  2006  1  5  2.99  101
999  A Intrepid Panorama of a Mad Scientist And a B...  2006  1  3  4.99   50

         8      9                      10  \
0    14.99  NC-17 2013-05-26 14:50:58.951
1    19.99      R 2013-05-26 14:50:58.951
2    15.99      R 2013-05-26 14:50:58.951
3    12.99  PG-13 2013-05-26 14:50:58.951
4    20.99     PG 2013-05-26 14:50:58.951
..     ...    ...                     ...
995   9.99      G 2013-05-26 14:50:58.951
996  14.99  NC-17 2013-05-26 14:50:58.951
997  10.99  NC-17 2013-05-26 14:50:58.951
998  28.99      R 2013-05-26 14:50:58.951
999  18.99  NC-17 2013-05-26 14:50:58.951

                                              11  \
0                                     [Trailers]
1                            [Behind the Scenes]
2                                     [Trailers]
3                                     [Trailers]
4            [Deleted Scenes, Behind the Scenes]
..                                           ...
995                [Trailers, Behind the Scenes]
996                [Trailers, Behind the Scenes]
997                             [Deleted Scenes]
998                   [Trailers, Deleted Scenes]
999  [Trailers, Commentaries, Behind the Scenes]

                                                    12
0    'chamber':1 'fate':4 'husband':11 'italian':2 ...
1    'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2    'airport':1 'ancient':18 'confront':14 'epic':...
3    'boat':20 'bright':1 'conquer':14 'encount':2 ...
4    'academi':1 'battl':15 'canadian':20 'dinosaur...
..                                                 ...
995  'administr':12 'boat':8 'boy':17 'databas':11 ...
996  'boat':22 'cat':11 'challeng':14 'drama':5 'ki...
997  'boy':16 'canadian':19 'compos':8 'core':2 'fa...
998  'ancient':19 'boat':11 'china':20 'discov':14 ...
999  'ark':2 'boy':12,17 'intrepid':4 'mad':8 'mona...

[1000 rows x 13 columns]
PostgreSQL connection is closed

In [3]:
type(result_digital_brief)

list

In [8]:
import json

data = {'people':[{'name': 'Scott', 'website': 'stackabuse.com', 'from': 'Nebraska'}]}
sd=json.dumps(data)

In [8]:
type(int(df['film_id'][0]))

int

In [17]:
a=json.loads(sd)
a["people"][0]['name']

'Scott'

In [11]:
d={'a':[1,2,3],'b':{12:"hoolaa"}}

In [15]:
d['b'][12]

'hoolaa'

In [35]:
import json
with open('jsonFileExample.json') as f:
    pet_dict=json.load(f)
    
print(pet_dict)

type(pet_dict['pets'])

pet_dict['pets']

{'pets': [{'name': 'Purrsloud', 'species': 'Cat', 'favFoods': ['wet food', 'dry food', '<strong>any</strong> food'], 'birthYear': 2016, 'photo': 'https://learnwebcode.github.io/json-example/images/cat-2.jpg'}, {'name': 'Barksalot', 'species': 'Dog', 'birthYear': 2008, 'photo': 'https://learnwebcode.github.io/json-example/images/dog-1.jpg'}, {'name': 'Meowsalot', 'species': 'Cat', 'favFoods': ['tuna', 'catnip', 'celery'], 'birthYear': 2012, 'photo': 'https://learnwebcode.github.io/json-example/images/cat-1.jpg'}]}

[{'name': 'Purrsloud',
  'species': 'Cat',
  'favFoods': ['wet food', 'dry food', '<strong>any</strong> food'],
  'birthYear': 2016,
  'photo': 'https://learnwebcode.github.io/json-example/images/cat-2.jpg'},
 {'name': 'Barksalot',
  'species': 'Dog',
  'birthYear': 2008,
  'photo': 'https://learnwebcode.github.io/json-example/images/dog-1.jpg'},
 {'name': 'Meowsalot',
  'species': 'Cat',
  'favFoods': ['tuna', 'catnip', 'celery'],
  'birthYear': 2012,
  'photo': 'https://learnwebcode.github.io/json-example/images/cat-1.jpg'}]

In [2]:
ty

psycopg2.extensions.cursor

In [23]:
pet_dict

{'pets': [{'name': 'Purrsloud',
   'species': 'Cat',
   'favFoods': ['wet food', 'dry food', '<strong>any</strong> food'],
   'birthYear': 2016,
   'photo': 'https://learnwebcode.github.io/json-example/images/cat-2.jpg'},
  {'name': 'Barksalot',
   'species': 'Dog',
   'birthYear': 2008,
   'photo': 'https://learnwebcode.github.io/json-example/images/dog-1.jpg'},
  {'name': 'Meowsalot',
   'species': 'Cat',
   'favFoods': ['tuna', 'catnip', 'celery'],
   'birthYear': 2012,
   'photo': 'https://learnwebcode.github.io/json-example/images/cat-1.jpg'}]}

In [40]:
person_dict = {'name': 'Bob',
'age': 12,
'children': None
}
person_json = json.dumps(person_dict)
# Output: {"name": "Bob", "age": 12, "children": null}
print(type(person_json))

<class 'str'>

In [17]:
import pandas as pd
import glob,os

path = os.path.join(os.getcwd(),'testFiles') # use your path
all_files = glob.glob(path + "/*.csv")
print(all_files)

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True,sort=True)

['/Users/rajsahoo/Desktop/Programs/testFiles/Diaper_data_11_29_2012.csv', '/Users/rajsahoo/Desktop/Programs/testFiles/Nursing_data_11_29_2012.csv', '/Users/rajsahoo/Desktop/Programs/testFiles/Sleep_data_11_29_2012.csv']

,"Date\t""Side 1""\t""Side 1 Duration""\t""Start Time 1""\t""Side 2""\t""Side 2 Duration""\t""Start Time 2""\t""Total Duration""\t""Note""","Start\t""Stop""\t""Duration""\t""Note""","Status\t""Diaper Leaked""\t""Date Time""\t""Age""\t""Note"""
0,NaN,NaN,"BM+Wet\t""No""\t"" 11/29 13:30""\t""2 months 20 day..."
1,NaN,NaN,"Wet\t""No""\t"" 11/29 10:00""\t""2 months 20 days o..."
2,NaN,NaN,"Wet\t""No""\t"" 11/29 08:00""\t""2 months 20 days o..."
3,NaN,NaN,"BM+Wet\t""No""\t"" 11/28 20:00""\t""2 months 19 day..."
4,NaN,NaN,"BM+Wet\t""No""\t"" 11/28 17:00""\t""2 months 19 day..."
...,...,...,...
962,NaN,"Oct 07 12:44\t"" Oct 07 15:43""\t""2 hrs 59 mins...",NaN
963,NaN,"Oct 07 10:12\t"" Oct 07 11:00""\t""48 mins""\t""""",NaN
964,NaN,"Oct 07 06:01\t"" Oct 07 09:16""\t""3 hrs 15 mins...",NaN
965,NaN,"Oct 07 01:25\t"" Oct 07 05:44""\t""4 hrs 19 mins...",NaN
966,NaN,"Oct 06 19:30\t"" Oct 07 00:30""\t""5 hrs""\t""""",NaN

In [21]:
import os
os.getcwd()

import pandas as pd 
  
# initialize list of lists 
data = [[10]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name']) 
df['Name'][0]
# print dataframe.

10

## Test Practice through SQLAlchemy

In [10]:
##SQLAlchemy_channel
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

try:
    secret='TESTPASSWORD'
    
    engine = create_engine('postgresql+psycopg2://postgres:TESTPASSWORD@localhost/dvdrentalNEW')
    connection=engine.raw_connection()
    ##############Using Pandas to read sql quesrries######################
    df = pd.read_sql_query("select * from film limit 10;", connection)
    print("data frame")
    print(df)
    print("-----")
    #######################################################################
    
    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    print(type(cursor.execute("SELECT version();")))
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")
    cursor.execute('select * from film;')
    result_digital_brief=cursor.fetchall()
#     print(result_digital_brief)
#     print(result_digital_brief)
    print(type(cursor.fetchall()))
    df_digital_brief = pd.DataFrame(result_digital_brief)
    print(df_digital_brief)
    
#     print(df_digital_brief)
#     print(type(df_digital_brief))
#     print(df_digital_brief)
#     df_digital_brief.columns=result_digital_brief.keys()
#     print(df_digital_brief.columns())
    

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
finally:
    #closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")

data frame
   film_id              title  \
0      133    Chamber Italian
1      384   Grosse Wonderful
2        8    Airport Pollock
3       98  Bright Encounters
4        1   Academy Dinosaur
5        2     Ace Goldfinger
6        3   Adaptation Holes
7        4   Affair Prejudice
8        5        African Egg
9        6       Agent Truman

                                         description  release_year  \
0  A Fateful Reflection of a Moose And a Husband ...          2006
1  A Epic Drama of a Cat And a Explorer who must ...          2006
2  A Epic Tale of a Moose And a Girl who must Con...          2006
3  A Fateful Yarn of a Lumberjack And a Feminist ...          2006
4  A Epic Drama of a Feminist And a Mad Scientist...          2006
5  A Astounding Epistle of a Database Administrat...          2006
6  A Astounding Reflection of a Lumberjack And a ...          2006
7  A Fanciful Documentary of a Frisbee And a Lumb...          2006
8  A Fast-Paced Documentary of a Pastry Chef And ...          2006
9  A Intrepid Panorama of a Robot And a Boy who m...          2006

   language_id  rental_duration  rental_rate  length  replacement_cost rating  \
0            1                7         4.99     117             14.99  NC-17
1            1                5         4.99      49             19.99      R
2            1                6         4.99      54             15.99      R
3            1                4         4.99      73             12.99  PG-13
4            1                6         0.99      86             20.99     PG
5            1                3         4.99      48             12.99      G
6            1                7         2.99      50             18.99  NC-17
7            1                5         2.99     117             26.99      G
8            1                6         2.99     130             22.99      G
9            1                3         2.99     169             17.99     PG

              last_update                     special_features  \
0 2013-05-26 14:50:58.951                           [Trailers]
1 2013-05-26 14:50:58.951                  [Behind the Scenes]
2 2013-05-26 14:50:58.951                           [Trailers]
3 2013-05-26 14:50:58.951                           [Trailers]
4 2013-05-26 14:50:58.951  [Deleted Scenes, Behind the Scenes]
5 2013-05-26 14:50:58.951           [Trailers, Deleted Scenes]
6 2013-05-26 14:50:58.951           [Trailers, Deleted Scenes]
7 2013-05-26 14:50:58.951    [Commentaries, Behind the Scenes]
8 2013-05-26 14:50:58.951                     [Deleted Scenes]
9 2013-05-26 14:50:58.951                     [Deleted Scenes]

                                            fulltext
0  'chamber':1 'fate':4 'husband':11 'italian':2 ...
1  'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2  'airport':1 'ancient':18 'confront':14 'epic':...
3  'boat':20 'bright':1 'conquer':14 'encount':2 ...
4  'academi':1 'battl':15 'canadian':20 'dinosaur...
5  'ace':1 'administr':9 'ancient':19 'astound':4...
6  'adapt':1 'astound':4 'baloon':19 'car':11 'fa...
7  'affair':1 'chase':14 'documentari':5 'fanci':...
8  'african':1 'chef':11 'dentist':14 'documentar...
9  'agent':1 'ancient':19 'boy':11 'china':20 'es...
-----
{'user': 'postgres', 'dbname': 'dvdrentalNEW', 'host': 'localhost', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

<class 'NoneType'>
You are connected to -  ('PostgreSQL 9.5.19 on x86_64-apple-darwin, compiled by i686-apple-darwin11-llvm-gcc-4.2 (GCC) 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00), 64-bit',)

<class 'list'>
        0                  1  \
0     133    Chamber Italian
1     384   Grosse Wonderful
2       8    Airport Pollock
3      98  Bright Encounters
4       1   Academy Dinosaur
..    ...                ...
995   996     Young Language
996   997         Youth Kick
997   998       Zhivago Core
998   999  Zoolander Fiction
999  1000          Zorro Ark

                                                     2     3  4  5     6    7  \
0    A Fateful Reflection of a Moose And a Husband ...  2006  1  7  4.99  117
1    A Epic Drama of a Cat And a Explorer who must ...  2006  1  5  4.99   49
2    A Epic Tale of a Moose And a Girl who must Con...  2006  1  6  4.99   54
3    A Fateful Yarn of a Lumberjack And a Feminist ...  2006  1  4  4.99   73
4    A Epic Drama of a Feminist And a Mad Scientist...  2006  1  6  0.99   86
..                                                 ...   ... .. ..   ...  ...
995  A Unbelieveable Yarn of a Boat And a Database ...  2006  1  6  0.99  183
996  A Touching Drama of a Teacher And a Cat who mu...  2006  1  4  0.99  179
997  A Fateful Yarn of a Composer And a Man who mus...  2006  1  6  0.99  105
998  A Fateful Reflection of a Waitress And a Boat ...  2006  1  5  2.99  101
999  A Intrepid Panorama of a Mad Scientist And a B...  2006  1  3  4.99   50

         8      9                      10  \
0    14.99  NC-17 2013-05-26 14:50:58.951
1    19.99      R 2013-05-26 14:50:58.951
2    15.99      R 2013-05-26 14:50:58.951
3    12.99  PG-13 2013-05-26 14:50:58.951
4    20.99     PG 2013-05-26 14:50:58.951
..     ...    ...                     ...
995   9.99      G 2013-05-26 14:50:58.951
996  14.99  NC-17 2013-05-26 14:50:58.951
997  10.99  NC-17 2013-05-26 14:50:58.951
998  28.99      R 2013-05-26 14:50:58.951
999  18.99  NC-17 2013-05-26 14:50:58.951

                                              11  \
0                                     [Trailers]
1                            [Behind the Scenes]
2                                     [Trailers]
3                                     [Trailers]
4            [Deleted Scenes, Behind the Scenes]
..                                           ...
995                [Trailers, Behind the Scenes]
996                [Trailers, Behind the Scenes]
997                             [Deleted Scenes]
998                   [Trailers, Deleted Scenes]
999  [Trailers, Commentaries, Behind the Scenes]

                                                    12
0    'chamber':1 'fate':4 'husband':11 'italian':2 ...
1    'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2    'airport':1 'ancient':18 'confront':14 'epic':...
3    'boat':20 'bright':1 'conquer':14 'encount':2 ...
4    'academi':1 'battl':15 'canadian':20 'dinosaur...
..                                                 ...
995  'administr':12 'boat':8 'boy':17 'databas':11 ...
996  'boat':22 'cat':11 'challeng':14 'drama':5 'ki...
997  'boy':16 'canadian':19 'compos':8 'core':2 'fa...
998  'ancient':19 'boat':11 'china':20 'discov':14 ...
999  'ark':2 'boy':12,17 'intrepid':4 'mad':8 'mona...

[1000 rows x 13 columns]
PostgreSQL connection is closed

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('Salaries.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head(3)
sal=df
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
# sal.info()
sal['OvertimePay'].fillna(0)#,axis=1)#.mean()

0                    0
1               245132
2               106088
3              56120.7
4                 9737
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: OvertimePay, Length: 148654, dtype: object

In [10]:
sal.head(3)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN

In [7]:
### 

def sa(x):
    if x=='Not Provided':
        x='0'
        print(x)
        return x
    else:
        return x
        

# sal['BasePay']=df['BasePay'].apply(lambda x:x.replace('', ))
# # sa('NotP')

sal['BasePay']=sal['BasePay'].apply(sa).astype(float)#,axis=1,result_type='expand')
# sal['BasePay'] = sal['BasePay'].astype(float)
# sal['BasePay']=sal['BasePay'].apply(sa)
# sal['BasePay'].mean()

sal['BasePay'].mean()

0
0
0
0

66323.65685410085

In [8]:
# sal['OvertimePay'].max()
sal['OvertimePay']=sal['OvertimePay'].astype(float)
sal['OvertimePay'].max()

ValueError: could not convert string to float: 'Not Provided'

In [ ]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']
# sal['EmployeeName']=='JOSEPH DRISCOLL'

In [ ]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]#['EmployeeName']

In [ ]:
sal[['BasePay','Year']]
sal.groupby('Year').mean()#['BasePay']

In [ ]:
sal.nunique()

In [ ]:
sal['JobTitle'].nunique()

In [ ]:
val=sal['JobTitle'].value_counts()

In [ ]:
type(val)
val

In [ ]:
val=sal[sal['Year']==2013]['JobTitle'].value_counts()==1

In [ ]:
sum(val)

In [ ]:
'Cheif' in sal['JobTitle']

In [ ]:
#How many people have the word Chief in their job title? (This is pretty tricky)
# def check(x):
#     if 'chief' in x.lower().strip():
#         return True
#     else:
#         return False
    

# sum(sal['JobTitle'].apply(check)==True)
def check_chief(title):
    # Grab a title and return True if there is a Chief word
    if('chief' in title.lower().split()):
        return True
    else:
        return False
    
sum(sal['JobTitle'].apply(check_chief) == True)

In [ ]:
if 'chief' in 'agsg chief debube':
    print("tesy")

In [ ]:
'chie' in 'agsg chief debube'.lower().split()